*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.header {
    width: 100%;
    font-family: Arial, sans-serif;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 52px;
    /*background: black;*/
    font-size: 14px;
}
.left{
    display: flex;
    justify-content: space-between;
}
.top-bar .left span {
    margin-top: 15px;
    margin-right: 20px;
}
.top-bar .right {
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
}


.top-bar .right .lang {
    margin-left: 10px;
    border: none;
    padding: 10px;
    background: transparent;
    cursor: pointer;
}
.right .eve{
    display: flex;
    margin-right: 30px;
}
.right .buttonn{
    gap: 10px;
}
.buttonn {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 10px;
    background-color: #F9FAFB;
    border-radius: 15px;
}
.navbar {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}
.vekto{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    display: flex;
    justify-content: start;
    margin-right: 15px;
    width: 50px;
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.actions {
    gap: 10px;
    display: flex;
    align-items: center;
}

.actions button {
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.res p{
    margin-bottom: 0;
}

/*-----------------------CardImg-------------*/
.card{
    display: flex;
    width: 100%;
    padding: 24px;
    color: #fff;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 10px;
}
.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}
.card-header{
    background-color: white;
}
.IchanQala{
    font-family: "Segoe UI Black";
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}
.T{
    font-family: "Segoe UI Bold";
    color: black;
    margin-top: 10px;
}
.icons{
    display: flex;
}
img{
    width: 100%;
}